@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" href="@Url.Content("./StyleSheet.css")">
</head>
<body>
    <header>
        <h1><a asp-action="get" asp-controller="home">@ViewData["pagetitle"]</a></h1>
        <nav>
            <ul>

                <li><a href="/project">Project</a></li>
                <li><a href="/sprint">Sprints</a></li>
                <li><a href="/backlog">Backlog</a></li>
                <li><a href="/task">Task</a></li>
                <li><a href="/user">Users</a></li>
                <li><a href="/step">Steps</a></li>
             
            </ul>
        </nav>
    </header>
    <main>@RenderBody()</main>
    <footer></footer>
</body>
</html>
