<div style="width:100%; text-align:center">
    <pre style="">
    .--------------------------------------------.
    (           WELCOME TO SCRUMPTIOUS!!!         )
    //'--------------------------------------------'
    /      , _.-~~-.__            __.,----.
    (';    __( )         ~~~'--..--~~         '.
    (    . \"..-'  ')|                     .       \  '.
    \\. |\.'                    ;       .  ;       ;   ;
    \ \'"   /9)                 '       .  ;           ;
    ; )           )    (        '       .  ;     '    .
    )    _  __.-'-._   ;       '       . ,     /\    ;
    '-'"'--'      ; "-. '.    '            _.-(  ".  (
    ;    \,)    )--,..----';'    >  ;   .
    \   ( |   /           (    /   .   ;
    ,   ,          )  | ; .(      .    , )  /     \  ;
    ,;'-PjP;.';.-.;._,;/;,;)/;.;.);.;,,;,;,,;/;;,),;.,/,;.).,;,
</pre>
</div>